.img-thumbnail
{
    min-width:50px!important;
}
.select{
    overflow:auto!important;
}
.navbar-default
{
    background: url("../images/bg-caro.png") repeat-x scroll 0px 0px;
    background-color: rgb(248, 248, 248);
    border-color: rgb(231, 231, 231);
}
#container
{
    position:relative;
    font-size: 15.3px;
    background-color: rgb(250, 250, 250);
}
#left-content .list-group-item
{
    border-left:none;
    border-right:none;
}
#left-content .panel-default > .panel-heading 
{
    background-color: rgb(255, 255, 255);
}
#left-content h4
{
    color:rgb(65, 179, 221)!important;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus
{
    background-color:rgb(255, 255, 255);
    color: rgb(0, 187, 243);
    border-left:4px solid rgb(0, 187, 243)!important;
    border:1px solid rgb(230, 230, 230);
    box-shadow: 0px 0px 5px rgb(250,250,250) inset;
}
a.list-group-item:hover, a.list-group-item:focus
{
    background-color:rgb(255,255,255);
}
a.list-group-item:active
{
    color:red;
}
.breadcrumb
{
    background-color:rgb(255,255,255);
    border: 1px solid rgb(0, 187, 243);
    color: rgb(141, 144, 86);
    margin-bottom:10px;
}
.badge
{
    background-color:rgb(0, 187, 243);
}
.red
{
    background-color:#bb240d;
    border-color:red;
}
.green
{
    background-color:#468847;
}
.alert-warning
{
    border-left: 5px solid rgb(236, 151, 31);
    background:  rgb(252, 248, 227) url('../images/alert.png') no-repeat;
    background-position:14px 8px;
}
.alert-warning:before 
{
    content:"Cảnh báo ! ";
    font-weight: bold;
    display:block;
    padding-bottom:8px;
    padding-left:36px;
}
.alert-danger
{
    border-left: 5px solid rgb(232, 12, 77);
    background:  rgb(242, 222, 222) url('../images/error.png') no-repeat;
    background-position:14px 8px;
}
.alert-danger:before 
{
    content:"Có lỗi ! ";
    font-weight: bold;
    display:block;
    padding-bottom:8px;
    padding-left:36px;
}
.alert-success
{
    border-left: 5px solid rgb(0, 170, 136);
    background:  rgb(223, 240, 216) url('../images/success.png') no-repeat;
    background-position:14px 8px;
}
.alert-success:before 
{
    content:"Thành công ! ";
    font-weight: bold;
    display:block;
    padding-bottom:8px;
    padding-left:36px;
}
.alert-info:before 
{
    content:"Thông tin ! ";
    font-weight: bold;
    display:block;
    padding-bottom:8px;
    padding-left:36px;
}
.alert-info
{
    border-left: 5px solid #3a87ad;
    background:  #d9edf7 url('../images/info.png') no-repeat;
    background-position:14px 8px;
}
.form-control
{
    font-size:15px!important;
}
a
{
    color: rgb(3, 74, 130);
}
a:hover
{
    text-decoration:none;
    color:rgb(0, 187, 243);
}
a:active
{
    color:crimson;
}
.list-group-item:first-child,.list-group-item:last-child{
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;   
}
a.list-group-item
{
    color: rgb(3, 74, 130);
}
.list-group-item:hover
{
    color: rgb(0, 187, 243);
}
#list-hopthu
{
    display:none;
}
#button-nav
{
    display:none;
}
.panel-body{
    padding:5px!important;
}
#slogan-none,#thongke_right,#tablet-banner
{
    display: none;
}
#banner-desktop
{
    background: url("../images/bg_body.jpg") repeat-x scroll 0px -36px;
    height:159px;
    margin-bottom:20px;
}
#login-area
{
    position:absolute;
    top:0;
    right:0;
    min-width:50px;
    overflow:hidden;
    background-color: #6699FF;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    line-height: 20px;
    box-shadow: 0px 2px 5px rgb(3, 42, 70);
    text-align: center;
    font-size: 11px;
    padding:2px;
}
#login-area a
{
    color: rgb(240, 247, 252)!important;
}
#login-area a:hover
{
    text-decoration:underline;
}
#banner
{
    background: url("../images/desktop.jpg");/**/
    width:972px;
    height:159px;
    background-size:100% 100%;
    position:relative;
    margin:0 auto;
}
/*
#loading
{
    position: fixed;
    top: 45%;
    left: 50%;
    width:160px;
    height:24px;
    background-image: url('../images/loading.gif');
    background-repeat: no-repeat;
    background-position: center;
    z-index:99;
    display:none;
    opacity:1!important;
    /*
    background-color:rgba(0,0,0,0.7);
    padding:8px 20px;
    border:1px solid rgb(230,230,230);
    //
}
*/
#loading
{
    display:none;
    position: fixed;
    z-index: 90; 
    top: 0; 
    left: 45%; 
    background: rgba(0,0,0,0.5);
    width:100px;
    height:26px;
    background-image: url('../images/486.gif');
    background-repeat: no-repeat;
    background-position: 5px 4px,left;
    border-radius:0px 0px 5px 5px;
    font-size:12px;
    font-weight:bold;
    color:rgb(250,250,250);
    padding-top: 5px;
    padding-left:35px; 
}
.overlay
{
    opacity:0.7;
    z-index:-1;
    position:relative;
}
.article-area
{
    margin:5px 0px;
    border:1px solid #e7e7e7;
    padding:15px 5px 0px 5px;
}
.article-area:hover
{
    /*box-shadow: 0 0 15px 2px #bcbcbc;*/
    border-top:1px solid #f90;
    border-bottom:1px solid #f90;
    background-color:rgb(253,254,253);
    color:#f90!important;
}
/* Menu */
#menu
{
    font-size:110%;
    width: 240px;
    height: auto;
    position: absolute;
    left: -100px;
    top: 0;
    display: none;
}
#mobile-bar
{
    line-height: 30px;
    font-size: 16px;
    color: #777777;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.9);
    display:none;
    padding:15px 10px 10px;
    border-bottom:1px dashed;
    margin-bottom:15px;
    background-color:#efefef;
}
#mobile-bar i
{
    font-size:28px;
}
@media screen and (max-width: 991px){
    #button-nav,#thongke_right,#tablet-banner,#mobile-bar
    {
        display:block;
    }
    #none_tc,#thongke_left,#banner-desktop,#random_tin,#time_bar,#desktop-menu
    {
        display:none;
    }
    #thongke
    {   
        clear:both;
    }
}
@media screen and (max-width: 539px)
{
    #slogan
    {
        display:none;   
    }
    #slogan-none
    {
        display:inline-block;
    }
}


.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}