<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BaoCao_PhanBien_Online</display-name>
  <welcome-file-list>
    <welcome-file>trang-chu</welcome-file>
  </welcome-file-list>
<!--   <servlet> -->
<!--     <servlet-name>trangchu</servlet-name> -->
<!--     <jsp-file>/pages/trang-chu.jsp</jsp-file> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>trangchu</servlet-name> -->
<!--     <url-pattern>/trang-chu</url-pattern> -->
<!--   </servlet-mapping> -->
  <servlet>
    <servlet-name>logout</servlet-name>
    <jsp-file>/pages/logout.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>yeucaudangnhap</servlet-name>
    <jsp-file>/pages/yeu-cau-dang-nhap.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>yeucaudangnhap</servlet-name>
    <url-pattern>/yeu-cau-dang-nhap</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>thongtincanhan</servlet-name>
    <jsp-file>/pages/thong-tin-ca-nhan.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>thongtincanhan</servlet-name>
    <url-pattern>/thong-tin-ca-nhan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>chinhsuathongtincanhan</servlet-name>
    <jsp-file>/pages/chinh-sua-thong-tin-ca-nhan.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>chinhsuathongtincanhan</servlet-name>
    <url-pattern>/thong-tin-ca-nhan/edit</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/404page.jsp</location>
  </error-page>
</web-app>